h1, h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1{
    color: blue;
}
img{
    width:400px;
    height:300px;
}
h2{
    color: green; 
}

a{
    text-decoration: none;
}

#recipe-list li{
    list-style-type:none;
}

#recipe-list li::before{
    content: "-";
}

p, li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.back{
    color:red;
}